# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Set environment variables 
set_env.sh
set_env.bat

# Environment variable files 
.env*

# Build output folder
out/bin
vendor